
/******************VARIABLES************************/
$blanco_general:white;
$azul_boton:#0d63bc;
/******************FIN VARIABLES************************/

/******************FONDO************************/
.todo{
	background-image: url("/assets/img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
/******************FIN FONDO*************************/

/**********************FORMULARIO************************/
form{
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.cont-form{
	width: 20em;
	height: 23em;
	background-color: $blanco_general;
	animation-name: form_azul_a_blanco;
	animation-duration: 4s;
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;

	& .perfil{
		position:relative;
		top: 0px;
		width: 7em;
		height: 7em;
		background-image: url("/assets/img/logo.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		animation-name: moveL;
		animation-duration: 4s;

		&:hover{ opacity: 0.8; }	
		}	
}

#email_icon{
	margin-right: 5px;
}

#password_icon{
	margin-right: 5px;
}

#email_label{
	opacity: 0.5;
}

#password_label{
	opacity: 0.5;
}

input{
	border: none;
	border-bottom: 1px solid #9a9a9a;
	padding-left: 30px;
	width: 90%;

	&:hover{
		cursor: pointer;
	}

	&[placeholder]{
		font-weight: bold;
		padding-bottom: 1.5em;
		padding-top: 0.5em;
	}
}


#boton{
	width: 9em;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin: auto;
	margin-top: 1em;
	text-align: center;
	background-color: transparent;
	border:2px solid $azul_boton;
	border-radius: 100px;
	font-weight: bold;

	&:hover{
		background-color: $azul_boton;
		color: $blanco_general;
	}
}


.pRecordar{
	font-size: 0.8em;
}

.switch{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.uno{
	display: flex;

	& img{
		margin-right: -1em;
		position: absolute;
	}
}


/*****************FIN**FORMULARIO************************/

/*************************SWITCHER**********************/

.boton1{
	display: inline-block;
	width: 40px;
	height: 16px;
	background-color: #d7d7da;
	border-radius: 100px;
	cursor: pointer;
	position: relative;
	transition: .5s;

	&::after{
		content: '';
		display: block;
		width: 25px;
		height: 25px;
		background-color: #b1b1b5;
		border-radius: 50%;
		position: absolute;
		top: -5px;
		transition: .5s;
	}
}



#recordar{
	display: none;

	&:checked + .boton1::after{
		left:18px;
	}

	&:checked + .boton1{
		background-color: #00ff55;
	}
}
/*************************FIN SWITCHER****************/

//========================== ERRORES =============================	

.ion-error{
	
	position:absolute;
	padding-bottom: 0;
	width: 100%;
	bottom:180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color:$blanco_general;
	background-color: rgb(3, 62, 117);

	& #error_div{
		position:relative;
		
		& .error{
			
		}
	}
}


//========================== FIN ERRORES =============================

.ok{
	width: 80px;
	height: 80px;
	position:absolute;
	padding-bottom: 0;
	width: 100%;
	bottom:180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
}

/* ============== Animaciones =================================*/

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated_form {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes form_azul_a_blanco {
	from {background-color:transparent;}
	to {background-color: $blanco_general;}
  }


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveL {
	0%   {left:0px; top:150px;}

	100% {left:0px; top:0px;}
  }

.fadeIn {
    animation-name: fadeIn;
}

/*****************************RESPONSIVE**************/

@media only screen and (max-width:960px){

.cont-form{
	background-color:transparent;
	animation-name: form_blanco_a_trans;
	animation-duration: 4s;
	top:-120px;
	position: relative;
}

h3{
	display: none;
}
.perfil{
	position:relative;
	top: 0px;
	width: 7em;
	height: 7em;
	background-image: url("/assets/img/logo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.diform{
	padding:20px;
	margin:120px;
	width: 110%;
	position:absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form{
	background-color: rgb(250, 250, 250);
	width: 100%;
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	& input {
		text-indent: 12px;
		border-bottom: solid 1px #e4e4e4;
		color: #9a9a9a;
		padding: 15px;

		input[type="email"] {
			padding-left:20px;
		 }
		
		 input[type="email"]::placeholder {  
						  
			/* Firefox, Chrome, Opera */ 
			padding-left: 10px; 
		} 
	  }
}



//===========================ERRORES====================

.ion-error{
	background-color: rgb(3, 62, 117);
	position:absolute;
	padding-bottom: 0;
	width: 100%;
	bottom:80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	#error_div{
		position:relative;

		.error{
			position:relative;
		}
	}
}

//========================== FIN ERRORES====================

#boton{
	border:none;
	height: 30%;
	width: 100%;
	//width:inherit;
	background-color: #0d63bc;
	color: #fff;
	border-radius: 0;
	margin-top: 20px;
	padding-top: 1em;
	padding-bottom: 1em;

	&:hover{
		background-color: #247cd7;
	}
}

#email{
	width: 90%;
}

#password{
	width: 90%;
}

#img1{
	margin-top:13px;
}

#img2{
	margin-top:13px;
}

.uno{
	margin-left: 20px;
}

.switch{
	width: 90%;
	margin:auto;
	height: 30px;
}

.pRecordar{
	margin-top:30px;
}

.boton1{
	margin-top:20px;
}

 /* ============== Animaciones =================================*/

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated_form {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

}

