<ion-content>
<div  class="todo animated fadeIn">
  <section class="cont-form">
 <div class="perfil"></div> 
    <h3>Prueba técnica</h3>
    <div class="diform">
    <form class="form" [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>      
      <ion-item>  
        <ion-icon name="person-outline" slot="start"></ion-icon><ion-label position="floating">Email</ion-label>
        <ion-input autocomplete="on" formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="bag-outline" slot="start"></ion-icon><ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="name" type="text">{{contrasena}}</ion-input>
      </ion-item>

      <div class="switch">
        <p class="pRecordar">Recordar</p> <input type="checkbox" name="recordar" id="recordar">
      <label for="recordar" class="boton1"></label>
      </div>
        
      <input id="boton" type="submit" name="acceder" value="Acceder">
    </form>  
    </div> 
  </section>
</div>


<div class="ion-error">
  <div id="error_div animated fadeIn">
  <span class="error animated fadeIn" *ngIf="isSubmitted && errorControl.email.errors?.required">
    Tiene campos sin rellenar.
  </span>
  <span class="error animated fadeIn" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    Introduzca un email válido.
  </span>
  </div>

  <div id="error_div animated fadeIn">
  <span class="error animated fadeIn" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Introduzca su contraseña.
  </span>
  <span class="error animated fadeIn" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Contraseña con mínimo 5 caracteres.
  </span>
  </div>
</div>

<div *ngIf="(!isSubmitted && !errorControl.name.errors?.minlength && !errorControl.name.errors?.required
&& !errorControl.email.errors?.required && !errorControl.email.errors?.pattern)|| (isSubmitted && !errorControl.name.errors?.minlength && !errorControl.name.errors?.required
  && !errorControl.email.errors?.required && !errorControl.email.errors?.pattern)">
  <ion-img class="ok animated fadeIn"  src="/assets/img/ok1.png"></ion-img>
  </div>

</ion-content>